<div class="form-pop-up">
        <form class="example-form" [formGroup]="myForm" (ngSubmit)="submitForm()">
          <h1 class="text-center">Sign Up</h1>
         <div class="example-container">
          <mat-form-field class="example-full-width" >
            <mat-label>First Name</mat-label>
            <input type="text" matInput [formControl]="fnameFormControl" placeholder="Ex. John Doe">
            <mat-error *ngIf="fnameFormControl.hasError('fname') && !fnameFormControl.hasError('required')">
              Please enter a valid name
            </mat-error>
            <mat-error *ngIf="fnameFormControl.hasError('required')">
              Fname is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width" >
            <mat-label>Last Name</mat-label>
            <input type="text" matInput [formControl]="lnameFormControl" placeholder="Ex. John Doe">
            <mat-error *ngIf="lnameFormControl.hasError('lname') && !lnameFormControl.hasError('required')">
              Please enter a valid name
            </mat-error>
            <mat-error *ngIf="lnameFormControl.hasError('required')">
              Lname is <strong>required</strong>
            </mat-error>
          </mat-form-field>
         </div>

         

          <mat-form-field class="example-full-width" >
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" >
            <mat-label>Mobile no</mat-label>
            <input type="mobile" matInput [formControl]="mobileFormControl">
            <mat-error *ngIf="mobileFormControl.hasError('mobile') && !mobileFormControl.hasError('required')">
              Please enter a valid mobile no.
            </mat-error>
            <mat-error *ngIf="mobileFormControl.hasError('required')">
              Mobile is <strong>required</strong>
            </mat-error>
          </mat-form-field>

         
          <div class="example-container">
            
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput [formControl]="passwordFormControl">
             
              <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
                Please enter valid password
              </mat-error>
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width" >
            <mat-label>Confirm</mat-label>
            <input type="password" matInput [formControl]="confirmFormControl">
           
            <mat-error *ngIf="confirmFormControl.hasError('confirm') && !confirmFormControl.hasError('required')">
              Please enter valid password
            </mat-error>
            <mat-error *ngIf="confirmFormControl.hasError('required')">
              Confirm is <strong>required</strong>
            </mat-error>
        </mat-form-field>

          
          </div>
          

          <div class="example-button-row ">
           
            <button class="btn btn-primary btn-lg mb-3" style=" display:block;width:50%; margin:0 auto;">
              Sign Up
            </button>
            <h4 class="text-center">Already have an account? <a class="text-primary cursor-pointer" (click)="signInDialog()" >Login</a></h4>
          </div>
        </form>
</div>
     